*{
    margin: 5px;
    box-sizing: border-box;

}

body{
    height: 95vh;
    background: #7cc22b;
    font-family: sans-serif;
    text-align: center;
    color: rgb(98, 223, 48);
    font-size: 15px;
    display: flex;
    flex-direction: column;

}

header{
    background: #eef3ec;
    padding: 1em 0 1em 0;
}

.main{
    display: flex;
    flex:1;
}

.left{
    background: #e1e6de;
    padding: 3em 0 3em 0;
    flex: 1 1 100px;
}

main{
    background: #eaf0e8;
    background-image:;
    padding: 3em 0 3em 0;
    flex: 5 5 150px;
}

.right{
    background: #f9faf0;
    padding: 3em 0 3em 0;
}

footer{
    background: #f1f5eb;
    padding: 1em 0 1em 0;
}


        
          
  
          
  

 
        


      










 
    
 
   
    
   